.menu {

position: relative;

width: 280px;

height: 280px;

display: flex;

align-items: center;

justify-content: center;

}

.menu.toggle {

position: relative;

height: 60px;

width: 60px;

background: #fff;

border-radius: 50%;

box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);

display: flex;

align-items: center;

justify-content: center;

color: #333;

font-size: 2rem;

cursor: pointer;

transition: 1.25s;

z-index: 5;

}
